In [8]:
import sqlite3
import yfinance as yf
import pandas as pd
from pathlib import Path

In [2]:
# Gather data from API
ticker = yf.Ticker("MSFT")
data = ticker.history("max")

# Replacing spaces in column names with underscores
data.columns = data.columns.str.replace(" ", "_")

# Define data folder path
data_folder = Path.cwd() / 'data'

# Define connection and cursor
conn = sqlite3.connect(data_folder / 'market_data.db')
cursor = conn.cursor()

In [9]:
large_dataframe = pd.concat([data] * 1000)

In [ ]:
# Create table in SQLite
create_sql = "CREATE TABLE IF NOT EXISTS historical_prices " \
"(OPEN FLOAT, " \
"HIGH FLOAT, " \
"LOW FLOAT, " \
"CLOSE FLOAT, " \
"VOLUME INT, " \
"DIVIDENDS FLOAT, " \
"STOCK_SPLITS FLOAT)"

cursor.execute(create_sql)

I ran this code block below twice and it inserted twice:

In [ ]:
# for row in data.itertuples():
#     insert_sql = f"INSERT INTO historical_prices (OPEN, HIGH, LOW, CLOSE, VOLUME, DIVIDENDS, STOCK_SPLITS) VALUES ({row.Open}, {row.High}, {row.Low}, {row.Close}, {row.Volume}, {row.Dividends}, {row.Stock_Splits} )"
#     cursor.execute(insert_sql)
    
# conn.commit()

This query below will replace the entire table with the dataframe
    Questions:
    - I wonder what would happen if the pandas dataframe was super large like a 3 million rows

- For 9.8 million rows, the iteruples took 74.7 seconds to run
- For 9.8 million rows, the df.to_sql took 12.3 seconds to run

In [11]:
large_dataframe.to_sql(
    name = "test_large_data",
    con=conn,
    if_exists='replace',
    index=False
)

9830000

What happens if you insert into a table that doesn't exist?