In [10]:
import sqlite3
from pathlib import Path
import pandas as pd

In [2]:
# Define data folder path
data_folder = Path.cwd() / 'data'

# Define connection and cursor
conn = sqlite3.connect(data_folder / 'market_data.db')
cursor = conn.cursor()

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

In [14]:
pd.read_sql("SELECT * FROM historical_prices", conn)

,Open,High,Low,Close,Volume,Dividends,Stock_Splits
0,0.054376,0.062373,0.054376,0.059707,1031788800,0.0,0.0
1,0.059707,0.062906,0.059707,0.061839,308160000,0.0,0.0
2,0.061839,0.063439,0.061839,0.062906,133171200,0.0,0.0
3,0.062906,0.063439,0.060773,0.061306,67766400,0.0,0.0
4,0.061306,0.061839,0.059707,0.060240,47894400,0.0,0.0
...,...,...,...,...,...,...,...
9839825,382.950012,385.220001,378.950012,383.269989,24253600,0.0,0.0
9839826,383.160004,385.320007,377.450012,378.769989,20473000,0.0,0.0
9839827,379.779999,390.230011,379.510010,388.559998,19952800,0.0,0.0
9839828,386.700012,392.709991,385.570007,388.700012,22474300,0.0,0.0
9839829,387.279999,387.369995,381.140015,383.519989,17266696,0.0,0.0

In [6]:
cursor.fetchall()

[('customers',), ('historical_prices',), ('test_large_data',)]